.search{
    margin: 20px;
    padding: 5px 35px;
    border-radius: 20px;
    border-color: rgb(93, 185, 185);
    background-color: rgb(222, 222, 222);
    color:rgb(93, 185, 185);
}

.plus{
    margin: 20px;
    border-radius: 50%;
    border-color:rgb(51, 230, 224) ;
    background-color: rgb(51, 230, 224);
    color:rgb(234, 255, 255);
}

.create{
    box-shadow: 2px 3px black;
    margin: 20px;
    padding:10px 20px;
    background-color: rgb(37, 37, 186);
    border-color: black;
    color: white;
}